<div>
    <div class="container">
        <div class="card-header">
            <h4 class="font-weight-bolder"></h4>
            <p class="mb-0">Editando email --<%= @admin.email %> </p>
        </div>
        <%= render partial: 'form' %>
    </div>
</div>