<div class="container py-4">
    <div class="row">
        <div class="col-12">
            <div class="card my-4 px-5 border-5">
                <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
                    <div class=" shadow-dark border-radius-lg pt-4 pb-3 border border-dark border-2">
                    <div class="container ">
                    <h2 class="text-dark ps-3 text-monospace">Comentarios</h2>
                    </div>
                </div>
                <div class="card-body px-0 pb-2">
                    <div class="table-responsive p-0">
                                <table class="table bg-gradient-light border-radius-lg align-items-center mb-8">
                                    <% @comments.each do |comment| %>
                                        <tr class="container">
                                        <td>
                                            <p class="font-weight-bold mb-0"><%= comment.content %></p>
                                        </td>
                                        <td class="align-middle">
                                            <%= button_to 'Deletar', comment_path(id: comment.id), method: :delete, data: { confirm: "Tem certeza?" }, class: "btn btn-sm text-white bg-dark font-weight-bold" %>
                                        </td>
                                        </tr>
                                    <% end %>
                                </table>
                                <div>
                                    <%= link_to 'Voltar', root_path, class: "btn btn-outline-dark font-weight-bold" %>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



