<div class="container-fluid">

<header class="container-flex">
    <nav class="bg-gradient-light navbar navbar-main navbar-expand-lg px-0 mx-4 shadow-none border-radius-xl" id="navbarBlur" navbar-scroll="true">
      <div class="container-fluid py-1 px-3">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb bg-transparent mb-0 pb-0 pt-1 px-0 me-sm-6 me-5">
            <li class="breadcrumb-item text-sm"><a class="opacity-5 text-dark" href="javascript:;">Pages</a></li>
            <li class="breadcrumb-item text-sm text-dark active" aria-current="page">Dashboard</li>
          </ol>
          <h6 class="font-weight-bolder mb-0">Dashboard</h6>
        </nav>
        <div class="collapse navbar-collapse mt-sm-0 mt-2 me-md-0 me-sm-4" id="navbar">
          <div class="ms-md-auto pe-md-3 d-flex align-items-center">
            <div class="input-group input-group-outline">
              <label class="form-label">Type here...</label>
              <input type="text" class="form-control">
            </div>
          </div>
          <ul class="navbar-nav  justify-content-end">
            <li class="nav-item d-flex align-items-center">
              <a href="javascript:;" class="nav-link text-body font-weight-bold px-0">
                <i class="fa fa-user me-sm-1"></i>
                <span class="d-sm-inline d-none">Sign In</span>
              </a>
            </li>
            <li class="nav-item d-xl-none ps-3 d-flex align-items-center">
              <a href="javascript:;" class="nav-link text-body p-0" id="iconNavbarSidenav">
                <div class="sidenav-toggler-inner">
                  <i class="sidenav-toggler-line"></i>
                  <i class="sidenav-toggler-line"></i>
                  <i class="sidenav-toggler-line"></i>
                </div>
              </a>
            </li>
            <li class="nav-item px-3 d-flex align-items-center">
              <a href="javascript:;" class="nav-link text-body p-0">
                <i class="fa fa-cog fixed-plugin-button-nav cursor-pointer"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
</header>

<body style= "background: #f2709c;  
background: -webkit-linear-gradient(to right, #ff9472, #f2709c);  
background: linear-gradient(to right, #ff9472, #f2709c); 
">

    <main role="main">
      <section class="py-5 mt-5 jumbotron text-center">
        <div class="container">
          <h1 class="jumbotron-heading text-white">BLOG</h1>
          <p class="lead text-muted"></p>
        </div>
      </section>

      <div class="container-fluid">

      <div class="album py-5 bg-transparent">
        <div class="row"> 
        <div class="col-lg-4 col-md-6 mt-4 mb-4">
          <div class="card z-index-2  ">
            <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2 bg-white opacity-50">
              <div class=".bg-white shadow-success border-radius-lg py-3 pe-1 border border-dark">
                <div class="chart">
                  <canvas id="chart-line" class="chart-canvas" height="170" width="302" style="display: block; box-sizing: border-box; height: 170px; width: 302.3px;"></canvas>
                </div>
              </div>
            </div>
            <div class="card-body">
              <h6 class="mb-0 "> Daily Sales </h6>
              <hr class="dark horizontal">
              <p> Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
                  Lorem Ipsum has been the industrys standard dummy text ever since the 1500s, when an unknown printer 
                  took a galley of type and scrambled it to make a type specimen book. 
              </p>
              <div class="d-flex ">
                <i class="material-icons text-sm my-auto me-1">schedule</i>
                <p class="mb-0 text-sm"> updated 4 min ago </p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 mt-4 mb-4">
          <div class="card z-index-2  ">
            <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2 bg-white opacity-50">
              <div class=".bg-white shadow-success border-radius-lg py-3 pe-1 border border-dark">
                <div class="chart">
                  <canvas id="chart-line" class="chart-canvas" height="170" width="302" style="display: block; box-sizing: border-box; height: 170px; width: 302.3px;"></canvas>
                </div>
              </div>
            </div>
            <div class="card-body">
              <h6 class="mb-0 "> Daily Sales </h6>
              <hr class="dark horizontal">
              <p> Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
                  Lorem Ipsum has been the industrys standard dummy text ever since the 1500s, when an unknown printer 
                  took a galley of type and scrambled it to make a type specimen book. 
              </p>
              <div class="d-flex ">
                <i class="material-icons text-sm my-auto me-1">schedule</i>
                <p class="mb-0 text-sm"> updated 4 min ago </p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 mt-4 mb-4">
        <div class="card z-index-2  ">
          <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2 bg-white opacity-50">
            <div class=".bg-white shadow-success border-radius-lg py-3 pe-1 border border-dark">
              <div class="chart">
                <canvas id="chart-line" class="chart-canvas" height="170" width="302" style="display: block; box-sizing: border-box; height: 170px; width: 302.3px;"></canvas>
              </div>
            </div>
          </div>
          <div class="card-body">
            <h6 class="mb-0 "> Daily Sales </h6>
            <hr class="dark horizontal">
            <p> Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
                  Lorem Ipsum has been the industrys standard dummy text ever since the 1500s, when an unknown printer 
                  took a galley of type and scrambled it to make a type specimen book. 
              </p>
            <div class="d-flex ">
              <i class="material-icons text-sm my-auto me-1">schedule</i>
              <p class="mb-0 text-sm"> updated 4 min ago </p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 mt-4 mb-4">
          <div class="card z-index-2  ">
            <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2 bg-white opacity-50">
              <div class=".bg-white shadow-success border-radius-lg py-3 pe-1 border border-dark">
                <div class="chart">
                  <canvas id="chart-line" class="chart-canvas" height="170" width="302" style="display: block; box-sizing: border-box; height: 170px; width: 302.3px;"></canvas>
                </div>
              </div>
            </div>
            <div class="card-body">
              <h6 class="mb-0 "> Daily Sales </h6>
              <hr class="dark horizontal">
              <p> Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
                  Lorem Ipsum has been the industrys standard dummy text ever since the 1500s, when an unknown printer 
                  took a galley of type and scrambled it to make a type specimen book. 
              </p>
              <div class="d-flex ">
                <i class="material-icons text-sm my-auto me-1">schedule</i>
                <p class="mb-0 text-sm"> updated 4 min ago </p>
              </div>
            </div>
          </div>
        </div>



        <div class="col-lg-4 col-md-6 mt-4 mb-4">
          <div class="card z-index-2  ">
            <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2 bg-white opacity-50">
              <div class=".bg-white shadow-success border-radius-lg py-3 pe-1 border border-dark">
                <div class="chart">
                  <canvas id="chart-line" class="chart-canvas" height="170" width="302" style="display: block; box-sizing: border-box; height: 170px; width: 302.3px;"></canvas>
                </div>
              </div>
            </div>
            <div class="card-body">
              <h6 class="mb-0 "> Daily Sales </h6>
              <hr class="dark horizontal">
              <p> Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
                  Lorem Ipsum has been the industrys standard dummy text ever since the 1500s, when an unknown printer 
                  took a galley of type and scrambled it to make a type specimen book. 
              </p>
              <div class="d-flex ">
                <i class="material-icons text-sm my-auto me-1">schedule</i>
                <p class="mb-0 text-sm"> updated 4 min ago </p>
              </div>
            </div>
          </div>
        </div>



        <div class="col-lg-4 col-md-6 mt-4 mb-4">
          <div class="card z-index-2  ">
            <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2 bg-white opacity-50">
              <div class=".bg-white shadow-success border-radius-lg py-3 pe-1 border border-dark">
                <div class="chart">
                  <canvas id="chart-line" class="chart-canvas" height="170" width="302" style="display: block; box-sizing: border-box; height: 170px; width: 302;"></canvas>
                </div>
              </div>
            </div>
            <div class="card-body">
              <h6 class="mb-0 "> Daily Sales </h6>
              <hr class="dark horizontal">
              <p> Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
                  Lorem Ipsum has been the industrys standard dummy text ever since the 1500s, when an unknown printer 
                  took a galley of type and scrambled it to make a type specimen book. 
              </p>
              <div class="d-flex ">
                <i class="material-icons text-sm my-auto me-1">schedule</i>
                <p class="mb-0 text-sm"> updated 4 min ago </p>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 mt-4 mb-4">
          <div class="card z-index-2  ">
            <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2 bg-white opacity-50">
              <div class=".bg-white shadow-success border-radius-lg py-3 pe-1 border border-dark">
                <div class="chart">
                  <canvas id="chart-line" class="chart-canvas" height="170" width="302" style="display: block; box-sizing: border-box; height: 170px; width: 302;"></canvas>
                </div>
              </div>
            </div>
            <div class="card-body">
              <h6 class="mb-0 "> Daily Sales </h6>
              <hr class="dark horizontal">
              <p> Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
                  Lorem Ipsum has been the industrys standard dummy text ever since the 1500s, when an unknown printer 
                  took a galley of type and scrambled it to make a type specimen book. 
              </p>
              <div class="d-flex ">
                <i class="material-icons text-sm my-auto me-1">schedule</i>
                <p class="mb-0 text-sm"> updated 4 min ago </p>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 mt-4 mb-4">
          <div class="card z-index-2  ">
            <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2 bg-white opacity-50">
              <div class=".bg-white shadow-success border-radius-lg py-3 pe-1 border border-dark">
                <div class="chart">
                  <canvas id="chart-line" class="chart-canvas" height="170" width="302" style="display: block; box-sizing: border-box; height: 170px; width: 302;"></canvas>
                </div>
              </div>
            </div>
            <div class="card-body">
              <h6 class="mb-0 "> Daily Sales </h6>
              <hr class="dark horizontal">
              <p> Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
                  Lorem Ipsum has been the industrys standard dummy text ever since the 1500s, when an unknown printer 
                  took a galley of type and scrambled it to make a type specimen book. 
              
              <div class="d-flex ">
                <i class="material-icons text-sm my-auto me-1">schedule</i>
                <p class="mb-0 text-sm"> updated 4 min ago </p>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 mt-4 mb-4">
          <div class="card z-index-2  ">
            <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2 bg-white opacity-50">
              <div class=".bg-white shadow-success border-radius-lg py-3 pe-1 border border-dark">
                <div class="chart">
                  <canvas id="chart-line" class="chart-canvas" height="170" width="302" style="display: block; box-sizing: border-box; height: 170px; width: 302;"></canvas>
                </div>
              </div>
            </div>
            <div class="card-body">
              <h6 class="mb-0 "> Daily Sales </h6>
              <hr class="dark horizontal">
              <p> Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
                  Lorem Ipsum has been the industrys standard dummy text ever since the 1500s, when an unknown printer 
                  took a galley of type and scrambled it to make a type specimen book. 
              </p>
              <div class="d-flex ">
                <i class="material-icons text-sm my-auto me-1">schedule</i>
                <p class="mb-0 text-sm"> updated 4 min ago </p>
              </div>
            </div>
          </div>
        </div>  
        </div>
    </main>

  
        <div class="container">
          <p class="float-right text-end">
            <a class="text-white font-weight-bold btn btn-outline-light rounded-circle" href="#"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="40" fill="currentColor" class="bi bi-caret-up" viewBox="0 0 16 16">
            <path d="M3.204 11h9.592L8 5.519 3.204 11zm-.753-.659 4.796-5.48a1 1 0 0 1 1.506 0l4.796 5.48c.566.647.106 1.659-.753 1.659H3.204a1 1 0 0 1-.753-1.659z"/>
          </svg></i></a>
          </p>
      </div>


    <footer class="bg-gradient-light text-center text-white text-muted rounded">
    <div class="container p-4 pb-0">

      <section class="mb-4">
      
        <!-- Twitter -->
        <a class="btn btn-outline-dark btn-floating m-1 rounded-pill" href="#!" role="button"><i class="fab fa-twitter"></i></a>
  
        <!-- Instagram -->
        <a class="btn btn-outline-dark btn-floating m-1 rounded-pill" href="#!" role="button"><i class="fab fa-instagram"></i></a>
  
        <!-- Github -->
        <a class="btn btn-outline-dark btn-floating m-1 rounded-pill" href="https://github.com/LaraPedroso" target="_blank" role="button"><i class="fab fa-github"></i></a>
      </section>

    </div>
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);"> © 2021 Lara Pedroso: </div>
  </footer>