<div>
    <div class="container">
        <div class="card-header">
            <h4 class="font-weight-bolder">Cargo</h4>
            <p class="mb-0">Editando o cargo <%= @role.username %> </p>
        </div>
        <%= render partial: 'form' %>
    </div>
</div>