/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
.fonts-L {
    font-family: 'Indie Flower', cursive;
}

.font-L {
    font-family: 'Pacifico', cursive;
  }

.neon {
    text-shadow: 0 0 0.2em rgb(233, 231, 250), 0 0 0.2em rgb(233, 231, 250),0 0 0.2em rgb(233, 231, 250)
}

.com-footer {
  background:#A9A9A9;
}

.corpo{
  background: #4ECDC4;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #556270, #4ECDC4);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #556270, #4ECDC4); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.espa-esquerda{
  width: 15px;
}


.t-center {
  margin-left: 10%;
  margin-right: 10%;
}

.yellow {
  color: #FFD700;
}

.orange{
  color: #FFA500;
}
.red{
  color:#FF8C00;
}

.L-black {
  color: #000;
}


.borda{

  border-color: #000;
}

.cursor:hover {
  color: white;
}

.card-black {
  background-color: #000;
}