/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
.fonts-L {
    font-family: 'Indie Flower', cursive;
}

.font-L {
    font-family: 'Pacifico', cursive;
  }

.neon {
    text-shadow: 0 0 0.2em #87F, 0 0 0.2em #87F,0 0 0.2em #87F
}

/* para padronizar todos os navegadores */
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    list-style-position: inside;
  }
   
  .nav-toggle {
    display: block;
    padding: 10px 10px 15px 10px;
    background: #fff;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 50;
  }
  .hamburger {
    width: 1.08em;
    position: relative;
    display: inline-block;
    height: 0.6em;
    font-size: 1.2em;
    background: #fff;
  }
  .hamburger span {
    width: 100%;
    background: #000;
    display: block;
    position: absolute;
    left: 0px;
    height: 0.185em;
    border-radius: 1.2px;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -ms-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
  }
  .hamburger span:nth-child(1) {
    top: 0px;
  }
  .hamburger span:nth-child(2) {
    top: 0.36em;
  }
  .hamburger span:nth-child(3) {
    top: 0.73em;
  }
  .sidebar {
    width: 20%;
    height: 100%;
    position: fixed;
    background: #000;
    top: 0px;
    left: 0px;
    z-index: 5;
    visibility: hidden;
    opacity: 0;
    transition: 0.2s all;
    -webkit-transition: 0.2s all;
    -ms-transition: 0.2s all;
    -moz-transition: 0.2s all;
    -o-transition: 0.2s all;
  }
  #navicon {
    display: none;
  }
  #navicon:checked ~ .sidebar {
    visibility: visible;
    opacity: 1;
  }
  #navicon:checked ~ .nav-toggle > .hamburger span {
    top: 0.36em;
  }
  #navicon:checked ~ .nav-toggle > .hamburger span:nth-child(1) {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
  }
  #navicon:checked ~ .nav-toggle > .hamburger span:nth-child(2) {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
  }
  #navicon:checked ~ .nav-toggle > .hamburger span:nth-child(3) {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
  }