<div>
    <div class="container">
        <div class="card-header">
            <h2 class="font-weight-bolder">Categoria</h4>
            <p class="mb-0">Criando uma nova categoria</p>
        </div>
        <%= render partial: 'form' %>
    </div>
</div>